<form style="color: lightyellow" class="form-horizontal" method = "post" action="/update" onsubmit="return validate()">
    <fieldset>
        <legend style="color: lightyellow;"><h1>Add a new Dashboard!</h1></legend>
        <div class="top-padding">
        <div class="form-group padding">
        <label class="col-sm-2 control-label">DASHBOARD NAME</label>
            <div class="col-sm-6">
        <input name = "name" type="text" placeholder="Name your dashboard" class="form-control"></div>
        </div>


        <div class="form-group padding">
            <label class="col-sm-2 control-label">STATIC VIOLATION</label>
            <div class="col-sm-6">
                <input id="sv-url" name="svurl" type="text" placeholder="Give your URL" class="form-control"></div>
        </div>

        <div class="form-group padding">
            <label class="col-sm-2 control-label">CI BUILD SERVER</label>
            <div class="col-sm-6">
                <input id="ci-server" name="ciserver" type="text" placeholder="Give the server name" class="form-control"></div>
        </div>

        <div class="form-group padding">
            <label class="col-sm-2 control-label">CI BUILD PATH</label>
            <div class="col-sm-6">
                <input id="ci-path" name ="cipath" type="text" placeholder="Give your path" class="form-control"></div>
        </div>

        <div class="form-group padding">
            <label class="col-sm-2 control-label">CODE COVERAGE</label>
            <div class="col-sm-6">
                <input id="cc-url" name="ccurl" type="text" placeholder="Give your URL" class="form-control"></div>
        </div>

        <div class="form-group padding">
            <label class="col-sm-2 control-label">DEFECT COUNT</label>
            <div class="col-sm-6">
                <input id="dc-url" name="dcurl" type="text" placeholder="Give your URL" class="form-control"></div>
        </div>

        <div class="form-group padding">
            <label class="col-sm-2 control-label">DEFECT STATISTICS</label>
            <div class="col-sm-6">
                <input id="ds-url" name="dsurl" type="text" placeholder="Give your URL" class="form-control"></div>
        </div>

        <div class="form-group padding">
            <label class="col-sm-2 control-label">LOAD & AUTOMATION</label>
            <div class="col-sm-6">
                <input id="la-url" name = "laurl" type="text" placeholder="Give your URL" class="form-control"></div>
        </div>
        <div class="form-group padding">
            <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg">Insert Dashboard</button>
                </div>
            </div>
        </div>
    </fieldset>
</form>

