<table ng-if="widgets.length != 0">
	<tr>
		<td colspan="4" class="update-message">Updating within <span id="remaining-id"></span></td>
	</tr>
	<tr>
		<td class="widget-container" rowspan="2"><div id="widget0" class="widget">
			<widget id="{{widgets[0].id}}" ng-if="widgets[0]" title="{{widgets[0].title}}" dataUrl="{{widgets[0].dataUrl}}" type="{{widgets[0].type}}"/>
		</div></td>
		<td class="widget-container"><div id="widget1" class="widget">
			<widget id="{{widgets[1].id}}" ng-if="widgets[1]" title="{{widgets[1].title}}" dataUrl="{{widgets[1].dataUrl}}" type="{{widgets[1].type}}"/>
		</div></td>
		<td class="widget-container"><div id="widget2" class="widget">
			<widget id="{{widgets[2].id}}" ng-if="widgets[2]" title="{{widgets[2].title}}" dataUrl="{{widgets[2].dataUrl}}" type="{{widgets[2].type}}"/>
		</div></td>
		<td class="widget-container"><div id="widget3" class="widget">
			<widget id="{{widgets[3].id}}" ng-if="widgets[3]" title="{{widgets[3].title}}" dataUrl="{{widgets[3].dataUrl}}" type="{{widgets[3].type}}"/>
		</div></td>
	</tr>
	<tr>
		<td class="widget-container"><div id="widget4" class="widget">
			<widget id="{{widgets[4].id}}" ng-if="widgets[4]" title="{{widgets[4].title}}" dataUrl="{{widgets[4].dataUrl}}" type="{{widgets[4].type}}"/>
		</div></td>
		<td class="widget-container"><div id="widget5" class="widget">
			<widget id="{{widgets[5].id}}" ng-if="widgets[5]" title="{{widgets[5].title}}" dataUrl="{{widgets[5].dataUrl}}" type="{{widgets[5].type}}"/>
		</div></td>
		<td class="widget-container"><div id="widget6" class="widget">
			<widget id="{{widgets[6].id}}" ng-if="widgets[6]" title="{{widgets[6].title}}" dataUrl="{{widgets[6].dataUrl}}" type="{{widgets[6].type}}"/>
		</div></td>
	</tr>
</table>

<div ng-if="widgets.length == 0" class="page-header">
  <h1 class="text-contrast">No Widgets here. <small>why don't you add some?</small></h1>
</div>
