<table class="widget-content-table">
	<tr ng-if="type == 'MULTISTAT'" ng-repeat="point in data.values">
		<td class="multistat-content-cell data {{$first || $middle ? 'non-last-row' : ''}} {{point.style}}">{{point.value}}<span ng-if="point.unit && point.unit.length > 0" class="delta-unit-small {{point.style}}">{{point.unit}}</span></td>
		<td class="multistat-content-cell multistat-datalabel-cell data-label {{$first || $middle ? 'non-last-row' : ''}}">{{point.label}}</td>
	</tr>
	<tr ng-if="type == 'ABSOLUTE'">
		<td class="content-cell data">
			<span class="{{data.actual < data.threshold ? 'success' : 'error'}}">
				{{data.actual}}
			</span>
			<img ng-if="data.actual < data.threshold" class="absolute-icon-success" src="images/all-good-2.png">
			<img ng-if="data.actual >= data.threshold" class="absolute-icon-error" src="images/not-so-good-2.png">			
		</td>
	</tr>
	<tr ng-if="type == 'CHART'">
		<td>
			<div id="pie_container" style="min-width: 450px; height: 550px; max-width: 450px; margin: 0 auto"></div>
		</td>
	</tr>
	<tr ng-if="type == 'DELTA'">
		<td class="content-cell delta-data">{{data.value}}<span class="delta-unit-big">{{options.unit}}</span></td>
	</tr>
	<tr ng-if="type == 'DELTA'">
		<td class="content-cell data {{data.better ? 'success' : (data.delta == 0 ? 'warning' : 'error')}}">
			<span class="delta-glyphicon glyphicon {{data.better ? (options.green == 'up' ? 'glyphicon-arrow-up' : 'glyphicon-arrow-down') : (data.delta == 0 ? 'glyphicon-play' : (options.green == 'up' ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'))}}"></span>
			{{data.delta}}<span class="delta-unit-small {{data.better ? 'success' : (data.delta == 0 ? 'warning' : 'error')}}">{{options.unit}}</span>
		</td>
	</tr>
	<tr ng-if="type == 'ERROR'">
		<td class="error-cell">
			<span class="loading-failed">Loading Failed.</span>
			<br>
			<a class="error-link" data-toggle="modal" data-target="#error-{{data.id}}">Click here to see the error</a><br>
			<div class="modal fade" id="error-{{data.id}}" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="errorModalLabel">Error Loading Widget</h4>
			      </div>
			      <div class="modal-body">
			        {{data.details}}
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
		</td>
	</tr>
	<tr ng-if="type == 'RTS'">
		<td class="content-cell data">
			<!--<span class="{{data.value == 'good'? 'success' : 'error'}}">
				{{data.value}}
			</span>-->
			<img ng-if="data.value == 'good'" class="absolute-icon-tick resize" src="images/tick.png">
			<img ng-if="data.value == 'bad'" class="absolute-icon-cross resize" src="images/cross.png">
		</td>
	</tr>
	<tr ng-if="type == 'LandA'" ng-repeat="point in data.values">
		<td class="{{$first || $middle ? 'non-last-row' : ''}} status-image">
			<img ng-if="point.status == 'Pending' || point.status == 'Disabled' || point.status == 'Aborted'" src="images/Pending.png">
			<img ng-if="point.status == 'Unstable'" src="images/{{point.status}}.png">
			<img ng-if="point.status == 'Failed'" src="images/Failed.png">
			<img ng-if="point.status == 'Success'" src="images/{{point.status}}.png">
			<img class="blink" ng-if="point.status == 'In progress'" src="images/Pending.png">
		</td>
		<td class="Load_name {{$first || $middle ? 'non-last-row' : ''}}">{{point.name}}</td>
		<td ng-if="point.failed != 0 && point.total != 0" class="Load_value {{point.status}} {{$first || $middle ? 'non-last-row' : ''}}">{{point.failed}}/{{point.total}}</td>
		<td ng-if="point.failed == 0 && point.total == 0" class="Load_value status-grey  {{$first || $middle ? 'non-last-row' : ''}}">{{point.status}}</td>



		<!--<td>
			<img ng-if="point.val == 'Pending'" src="images/Pending.png">
			<img ng-if="point.val == 'Unstable'" src="images/Unstable.png">
			<img ng-if="point.val == 'Disabled'" src="images/Pending.png">
			<img ng-if="point.val == 'Failed'" src="images/Failed.png">
			<img ng-if="point.val == 'Aborted'" src="images/Pending.png">
			<img ng-if="point.val == 'Success'" src="images/Success.png">
		</td>
		<td class="Load_value {{point.val}} {{$first || $middle ? 'non-last-row' : ''}}"> {{point.val}}</td>-->

		<!--<td class="multistat-content-cell multistat-datalabel-cell data-label {{$first || $middle ? 'non-last-row' : ''}}">{{point.label}}</td>
			<span class="success">
				{{point.name}}
			</span>
			<span class="error">
				{{point.val}}
			</span>
			<img ng-if="data.value == 'good'" class="absolute-icon-tick resize" src="images/tick.png">
			<img ng-if="data.value == 'bad'" class="absolute-icon-cross resize" src="images/cross.png">-->

	</tr>
</table>